@import url(./style/reset.css);
@import url(./style/index.css);
@import url(./style/jogar.css);
@import url(./style/ficha.css);
@import url(./style/contato.css);
@import url(./style/sobre.css);


@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --branco: #FFF;
    --cinza: #CCC;
    --amarelo: #FFFF00;
    --preto: #111;
    --fonte: "Platypi", sans-serif;
}


.voltar i {
    color: var(--amarelo);
    margin: 16px;
    font-size: 30px;
}

.voltar i:hover {
    color: var(--cinza);
}

body {
    background: url(imagens/fundo.jpg);
    background-size: cover;
    font-family: var(--fonte);
    font-variant: small-caps;
}

footer {
    background-color: var(--preto);
    color: var(--amarelo);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

@media (width <=600px) {
    body {
        background-image: none;
        background-color: var(--preto)
    }
}