.contato h2 {
    color: var(--amarelo);
    font-size: 40px;
    padding: 20px;
    margin-top: 20px;
}

.contato a, .social a {
    color: var(--amarelo);
    padding: 20px;
    line-height: 1.5;
    font-size: 30px;
    text-decoration: none;
}

.social a:hover {
    color: var(--cinza);
}

.social {
    margin-top: 100px;
}

input,
textarea {
    width: 45%;
    border: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: var(--cinza);
}

label {
    margin-bottom: 5px;
    display: block;
    color: var(--amarelo);
    margin-left: 20px;
}

button {
    background-color: var(--amarelo);
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 20px;
}

button:hover {
    background-color: var(--cinza);
}

@media (width <= 600px) {
    input,
    textarea {
        width: 90%;
        box-sizing: border-box;
    }
    .social  {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 30vh;
    }

}