.sobre h2 {
    color: var(--amarelo);
    font-size: 40px;
    padding: 20px;
}

.sobre p {
    color: var(--amarelo);
    padding: 20px;
    width: 55%;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

.fases .img {
    width: 23%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px -5px var(--cinza);
    margin: 15px;
    padding: 1px;
}

.fases {
    display: flex;
    justify-content: center;
    margin: 10px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.personagem .img {
    width: 200px;
    margin-bottom: 100px;
}